<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Blue-eyed fluffpot </title>
  </head>
  <h1> I know I'm a cat but my name is <%=@name%>! And I'm <%=@age%> years old! </h1>
  <body>
    <img src="http://bit.ly/1eze8aE" alt="Cute kitten" height="500px" style="border: 5px dotted red;"/>
  </body>
</html>
