<h1> My name is <%=["Amigo", "Oscar", "Viking"].sample%>! </h1>
<div>
  <img
  src='https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'
  alt='Happy white dog' height='500px' style='border: 5px solid blue;'>
</div>
