<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Blue-eyed fluffpot </title>
  </head>
  <body>

    <% if @name %>
    <h1> I know I'm a cat but my name is <%= @name %>! Deal with it! </h1>
    <% end %>

    <img src="http://bit.ly/1eze8aE" alt="Cute kitten" height="500px" style="border: 5px dotted red;"/>
  </body>
</html>
